<html lang="en">
<body>
    <form action="index.html" class="form-box">
        <h1 class="form-title">SingIn</h1>
        <input type="text" placeholder="Username">
        <input type="password" name="" id="" placeholder="Password">
        <button type="submit" class="" routerLink="/crud-login">
            Login
        </button>
        <p class="text1">Aun no tienes cuenta?</p>
        <p class="text1">Registrate <a class="text2" routerLink="/register"> Aqui</a></p>
    </form>
</body>
</html>
